In [2]:
import pandas as pd
i = pd.read_csv("https://raw.githubusercontent.com/dphi-official/Datasets/master/Standard_Metropolitan_Areas_Data-data.csv")

In [3]:
i.shape

(99, 10)

In [4]:
i.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   land_area       99 non-null     int64
 1   percent_city    99 non-null     float64
 2   percent_senior  99 non-null     float64
 3   physicians      99 non-null     int64
 4   hospital_beds   99 non-null     int64
 5   graduates       99 non-null     float64
 6   work_force      99 non-null     float64
 7   income          99 non-null     int64
 8   region          99 non-null     int64
 9   crime_rate      99 non-null     float64
dtypes: float64(5), int64(5)
memory usage: 7.9 KB

In [5]:
i.iloc[0,9]

75.55

In [6]:
i.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [7]:
i.loc[0:9, "crime_rate"]

0    75.55
1    56.03
2    41.32
3    67.38
4    80.19
5    58.48
6    72.25
7    64.88
8    30.51
9    55.30
Name: crime_rate, dtype: float64

In [15]:
i.loc[-5:,["physicians"]]

    physicians
0        25627
1        13326
2         9724
3         6402
4         8502
..         ...
94         348
95         159
96         264
97         371
98         140

[99 rows x 1 columns]

In [21]:
 i.loc[[1,3,5,7,9,13], ["land_area","work_force","income","region","crime_rate"]]

    land_area  work_force  income  region  crime_rate
1        3719      3305.9   54542       2       56.03
3        3916      1966.7   32906       2       67.38
5        2815      1541.9   25663       3       58.48
7        6794      1272.7   18221       3       64.88
9        4647      1032.2   14542       2       55.30
13        782       915.2   12591       4       63.20

# Summary Functions
## Learned Till Now
So far, you have learned to read a data file, some methods to check the overview of data, and select data from a DataFrame.

The information that we got about the data is not enough. A data scientist always wants to understand the behavior of data. For numerical columns we may want to know the mean value or median values of the data, the minimum value in the column and the maximum value in the column, etc. For categorical columns, we are interested to know things like the number of different categories in a column, the count of each category in a column, the maximum occurring category in a column, etc. Here we will look at some of the techniques that will help you know the above information about your data.

## What is Summary?
- Summary is a term used for the short version of a longer work.
- Summary is a brief statement of the main points of something.
- Confusing? Let’s understand through an example.

## Summary Functions
- Pandas has many simple "summary functions" (well, this is not an official name) that help you to restructure your data in a very useful way and displays useful information about the data.
- Do you recall the info() method that we had used in the earlier module? This method has given us 6 to 7 main points about the data like the number of observations and their range indices, names of columns with their data types and number of non-null entries in the particular column, etc.
- So info() is also a summary function/method.
- Here we will see another summary function - describe().
- Import Pandas Library and load the dataset ‘exam_scores.csv’:

## describe( )
By default, the describe() method returns a summary of numerical columns only.

In [24]:
#exam_scores.describe()

In [25]:
i.mean()

land_area         2615.727273
percent_city        42.518182
percent_senior       9.781818
physicians        1828.333333
hospital_beds     6345.868687
graduates           54.463636
work_force         449.366667
income            6762.505051
region               2.494949
crime_rate          55.643030
dtype: float64

In [28]:
i["region"].unique

<bound method Series.unique of 0     1
1     2
2     1
3     2
4     4
     ..
94    4
95    3
96    3
97    1
98    3
Name: region, Length: 99, dtype: int64>

In [31]:
i.sma_data.describe()

AttributeError: 'DataFrame' object has no attribute 'sma_data'

In [32]:
i.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,6762.505051,2.494949,55.643030
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,10393.349660,1.013921,13.470943
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,769.000000,1.000000,23.320000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2003.000000,2.000000,46.115000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3510.000000,3.000000,56.060000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,6283.500000,3.000000,63.860000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,72100.000000,4.000000,85.620000

In [38]:
i.region.value_counts()

3    36
2    25
1    21
4    17
Name: region, dtype: int64

In [41]:
i.crime_rate.sort_values()

70    23.32
38    23.64
76    25.49
72    28.52
8     30.51
      ...
67    78.10
4     80.19
53    80.94
74    82.68
20    85.62
Name: crime_rate, Length: 99, dtype: float64

In [42]:
i.sort_values

<bound method DataFrame.sort_values of     land_area  percent_city  percent_senior  physicians  hospital_beds  \
0        1384          78.1            12.3       25627          69678
1        3719          43.9             9.4       13326          43292
2        3553          37.4            10.7        9724          33731
3        3916          29.9             8.8        6402          24167
4        2480          31.5            10.5        8502          16751
..        ...           ...             ...         ...            ...
94       1511          38.7            10.7         348           1093
95       1543          39.6             8.1         159            481
96       1011          37.8            10.5         264            964
97        813          13.4            10.9         371           4355
98        654          28.8             3.9         140           1296

    graduates  work_force  income  region  crime_rate
0        50.1      4083.9   72100       1       75.55
1        53.9      3305.9   54542       2       56.03
2        50.6      2066.3   33216       1       41.32
3        52.2      1966.7   32906       2       67.38
4        66.1      1514.5   26573       4       80.19
..        ...         ...     ...     ...         ...
94       50.4       127.2    1452       4       70.66
95       30.3        80.6     769       3       36.36
96       70.7        93.2    1337       3       60.16
97       58.0        97.0    1589       1       36.33
98       55.1        66.9    1148       3       68.76

[99 rows x 10 columns]>